<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Restaurant Randomizer</title>
</head>
<body>
  <nav>
    <a href="/">🏠</a>
    <div>
      <a href="/restaurants">ALL RESTAURANTS</a>
      <a href="/restaurants/random">🎲 RANDOM 🎲</a>
      <% if (user) { %>
        <a href="/favorites">❤️MY FAVORITES</a>
        <a href="/favorites/random">🎰RANDOM FAVORITE🎰</a>
        <a href="/restaurants/new">ADD RESTAURANT</a>
        <% if (user.isAdmin) {%>
          <a href="/restaurants/admin">ADMIN</a>
        <% } %>
        <a href="/auth/sign-out">SIGN OUT</a>
        <span><%= user.name %></span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
      <% } %>
    </div>
  </nav>
  <main>
