<%- include('./partials/header.ejs') %>

<div class="home-container">
  <h1 class="home-title">🍽️ WELCOME TO THE RESTAURANT RANDOMIZER!</h1>

  <% if (user) { %>
    <h2 class="user-greeting">👋 Hello, <span class="username"><%= user.username %></span>!</h2>
  <% } %>
  <div class="link-group">
    <a href="/restaurants">👁️ VIEW ALL RESTAURANTS</a>
    <a href="/restaurants/random">🎲 RANDOM RESTAURANT</a>
    <% if (user) { %>
        <a href="/restaurants/new">➕ ADD NEW RESTAURANT</a>
        <a href="/favorites/random">🎰 RANDOM FROM FAVORITES ❤️</a>
        <a href="/restaurants/random?myRestaurants=true">🎲 RANDOMIZE ONLY RESTAURANTS I'VE ADDED ➕</a>
        <% } %>
        <% if (user && user.isAdmin) { %>
            <a href="/restaurants/admin" class="admin-link">⚙️ DELETE REQUESTS</a>
        <% } %>
  </div>

<%- include('./partials/footer.ejs') %>